body {
    background-color: #fff ;
    font-family: 'Oswald', sans-serif;
}

header, nav, div, section, footer {
    border: 2px solid #d00 ;
}

header p {
    text-transform: uppercase ;
    font-weight: 700 ;
    font-size: 1.65em ;
}

nav { 
    float: left ;
    width: 15.3% ;
    margin-left: 3.6% ;
}

nav #primary_nav ul {
    list-style-type: none ;
}

section {
    float: right ;
    float: right ;
    width: 79.1% ;
    margin-left: 1.1% ;
    overflow-x: scroll ;
    margin-bottom: 3em ;
/*    display: table ;*/
/*    table-layout: fixed;*/

}
section article {
    display: table-cell ;
}
section article.artiststatement p {
    width: 400px ;
    float: left;
    margin-right: 3em ;
/*    display:block ;*/
/*    float: left;*/
/*    position: absolute;*/
/*    margin-top: 0 ;*/
/*    padding-top: 0;*/
}
section article img.float_left_image {
/*    float: left ;*/
    margin-right: 3.5em ;
    margin-bottom: .7em ;
}
section article p {
    font-family: 'Libre Baskerville', serif;
    font-size: 0.7em ;
}
section article p.title {
    font-family: 'Libre Baskerville', serif;
    font-size: 0.7em ;
    font-weight: 700 ;
}
section article p.photo_caption {
    font-family: 'Libre Baskerville', serif;
    font-size: 0.8em ;
    font-style: italic ;

}
/*
section img.bio {
    width: 28.6% ;
    height: 34.1% ;
}
*/
.form-label {
    font-family: 'Libre Baskerville', serif; !important
}
.form-required {
    display: none ;
}

footer {
    clear: both ;
}