h1 {
    font-size: 32px ;
    font-family: Helvetica ;
    color: rebeccapurple;
}

h2 {
    font-size: 26px ;
    font-family: serif ;
    color: lightgreen;
    
}

h3 {
    color: cadetblue;
}

body {
    font-size: 20px ;
    color: darkslateblue;
    
}

th {
    font-size: 20px ;
    font-family: serif ;
    color: lightseagreen;
}